<!DOCTYPE html>
<html>
<title>PI-GHOST</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  .bgimg {min-height:100%;
  background-position:center;
  background-size:cover}
.bgimg {background-image: url("/static/images/spooky_house.png")}
</style>

<body class="w3-dark-gray">

<div class="w3-container w3-half w3-margin-top">

<h1 class="w3-text-green"> Pi Ghost Login </h1>
  <p>
  <form class="w3-container w3-card-4" method="POST">
  <p>
  <input name="username" class="w3-input" type="text" style="width:90%" required>
  <label>Name</label></p>
  <p>
  <input name="password" class="w3-input" type="password" style="width:90%" required>
  <label>Password</label></p>
  <p>
  <button class="w3-button w3-section w3-green w3-ripple"> Log in </button></p>
  </form>
</div>

</body>
</html> 
