<!DOCTYPE html>
<html lang="en">
<head>
<title>PI-GHOST</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<script>
    function vibrate(){
        navigator.vibrate(500);
    }
</script>

<!-- Main Body -->
<body class="center">
    <div id="main" class="blah">
        <!-- Header/Home-->
        <table>
            <tr>
                <th>
                    <h3 class="w3-text-green">Welcome {{g.user.username}}</h3>
                </th>
            </tr>
        </table>
    </div>

    <div class="buttons">
        <form method="post" action="/sound-button">
        <table>
            <tr>
                <td>
                    <input onclick="vibrate()" type="submit" value="1" name="1" class={{g.buttons[1]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="2" name="2" class={{g.buttons[2]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="3" name="3" class={{g.buttons[3]._class}}>
                </td>
            </tr>
            <tr>
                <td>
                    <input onclick="vibrate()" type="submit" value="4" name="4" class={{g.buttons[4]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="5" name="5" class={{g.buttons[5]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="6" name="6" class={{g.buttons[6]._class}}>
                </td>
            </tr>
            <tr>
                <td>
                    <input onclick="vibrate()" type="submit" value="7" name="7" class={{g.buttons[7]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="8" name="8" class={{g.buttons[8]._class}}>
                </td>
                <td>
                    <input onclick="vibrate()" type="submit" value="9" name="9" class={{g.buttons[9]._class}}>
                </td>
            </tr>
            <tr>
                <td>

        <form action="/load-config" method="POST">
            <input type="submit" class="saveBtn" value="load">
        </form>
                </td>
                <td>
                    <input type="submit" value="0" name="0" class={{g.buttons[0]._class}}>
                </td>
                <td>

        <form action="/save-config" method="POST">
            <input type="submit" class="saveBtn" value="save">
        </form>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="config" style="padding-top:10px">
    </div>

   <div class="msg-region">
   {{g.status}}

   {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <h3 class="w3-text-green">{{ message }}</h3>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    </div>


    <div id="file-upload">
        <form class="w3-bottom center" action="/upload-sound" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label>Select sound</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="sound" id="sound">
                    <label class="custom-file-label" for="sound">Select sound...</label>
                </div>
            </div>
            <button type="submit" class="w3-button w3-green">Upload Sound</button>
        </form>
    </div>

</body>
</div>

</html>
